# Visual Studio Code
.vscode/

# Virtual Environment
venv/

# Python Caches
__pycache__/

# Local and Temporary Files
**/local/
**/temp*
**/test.*
tasks/tests/outputs/test_results_simple.log
tasks/tests/outputs/test_results.log
tasks/configs/registered_runners.json
